# 查看
上一章讲到了控制DataFrame显示的一些参数，本章则具体讲解一下如何获得对DataFrame的整体认知。

In [2]:
!cd

E:\ML\实战\pandas实用教程

In [3]:
import numpy as np
import pandas as pd

# 1. `info()`
这是DataFrame才有的API。
#### `DataFrame.info(verbose=None, memory_usage=True null_counts=True)`
- verbose：True or False，字面意思是冗长的，也就说如何DataFrame有很多列，是否显示所有列的信息，如果为否，那么会省略一部分；
- memory_usage：True or False，默认为True，是否查看DataFrame的内存使用情况；
- null_counts：True or False，默认为True，是否统计NaN值的个数。

In [16]:
df = pd.DataFrame( columns = range(0,100))
df

Empty DataFrame
Columns: [0, 1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13, 14, 15, 16, 17, 18, 19, 20, 21, 22, 23, 24, 25, 26, 27, 28, 29, 30, 31, 32, 33, 34, 35, 36, 37, 38, 39, 40, 41, 42, 43, 44, 45, 46, 47, 48, 49, 50, 51, 52, 53, 54, 55, 56, 57, 58, 59, 60, 61, 62, 63, 64, 65, 66, 67, 68, 69, 70, 71, 72, 73, 74, 75, 76, 77, 78, 79, 80, 81, 82, 83, 84, 85, 86, 87, 88, 89, 90, 91, 92, 93, 94, 95, 96, 97, 98, 99]
Index: []

[0 rows x 100 columns]

In [17]:
df.info()  # 直接默认设置即可，快捷查看多种信息：总行数和列数、每列元素类型和NaN的个数，总内存

<class 'pandas.core.frame.DataFrame'>
Index: 0 entries
Data columns (total 100 columns):
0     0 non-null object
1     0 non-null object
2     0 non-null object
3     0 non-null object
4     0 non-null object
5     0 non-null object
6     0 non-null object
7     0 non-null object
8     0 non-null object
9     0 non-null object
10    0 non-null object
11    0 non-null object
12    0 non-null object
13    0 non-null object
14    0 non-null object
15    0 non-null object
16    0 non-null object
17    0 non-null object
18    0 non-null object
19    0 non-null object
20    0 non-null object
21    0 non-null object
22    0 non-null object
23    0 non-null object
24    0 non-null object
25    0 non-null object
26    0 non-null object
27    0 non-null object
28    0 non-null object
29    0 non-null object
30    0 non-null object
31    0 non-null object
32    0 non-null object
33    0 non-null object
34    0 non-null object
35    0 non-null object
36    0 non-null object
37    0 non-null object
38    0 non-null object
39    0 non-null object
40    0 non-null object
41    0 non-null object
42    0 non-null object
43    0 non-null object
44    0 non-null object
45    0 non-null object
46    0 non-null object
47    0 non-null object
48    0 non-null object
49    0 non-null object
50    0 non-null object
51    0 non-null object
52    0 non-null object
53    0 non-null object
54    0 non-null object
55    0 non-null object
56    0 non-null object
57    0 non-null object
58    0 non-null object
59    0 non-null object
60    0 non-null object
61    0 non-null object
62    0 non-null object
63    0 non-null object
64    0 non-null object
65    0 non-null object
66    0 non-null object
67    0 non-null object
68    0 non-null object
69    0 non-null object
70    0 non-null object
71    0 non-null object
72    0 non-null object
73    0 non-null object
74    0 non-null object
75    0 non-null object
76    0 non-null object
77    0 non-null object
78    0 non-null object
79    0 non-null object
80    0 non-null object
81    0 non-null object
82    0 non-null object
83    0 non-null object
84    0 non-null object
85    0 non-null object
86    0 non-null object
87    0 non-null object
88    0 non-null object
89    0 non-null object
90    0 non-null object
91    0 non-null object
92    0 non-null object
93    0 non-null object
94    0 non-null object
95    0 non-null object
96    0 non-null object
97    0 non-null object
98    0 non-null object
99    0 non-null object
dtypes: object(100)
memory usage: 0.0+ bytes

# 2. `ndim, shape, size`
这三个属性关系密切

In [25]:
df = pd.DataFrame( [[np.nan, 2],[np.nan, 3]])
df

    0  1
0 NaN  2
1 NaN  3

In [26]:
df.ndim  # 返回维度数，Series一维，DataFrame两维，平时很少用到，不过有时会在循环中用到

2

In [27]:
df.shape  # (行数，列数)

(2, 2)

In [29]:
df.size   # 元素个数，rows×cols

4

# 3. `head(), tail()`

#### `Series/DataFrame.head(n=5)`
#### `Series/DataFrame.tail(n=5)`

In [12]:
s = pd.Series( range(0,5))
s

0    0
1    1
2    2
3    3
4    4
dtype: int32

In [13]:
s.head(3)

0    0
1    1
2    2
dtype: int32

In [15]:
s.tail(3)

2    2
3    3
4    4
dtype: int32

# 4. 个数统计

## 4.1 `value_counts()`
只适合序列。
#### `Series/Index.value_counts(normalize=False, ascending=False, bins=None)`
- normalize：True or False，计算频次还是频率比；
- ascending：True or False，排序方式，默认降序；
- bins：int，pd.cut的一种快捷操作，对连续数值型效果好；

In [40]:
s = pd.Series([1,2,1,2,1,3])
s

0    1
1    2
2    1
3    2
4    1
5    3
dtype: int64

In [41]:
s.value_counts()

1    3
2    2
3    1
dtype: int64

In [ ]:
s.value_counts(ascending = True)

In [44]:
s.value_counts( bins = 2)   # bins按照int平均分割，左开右闭，左侧外延1%以包含最左值

(0.997, 2.0]    5
(2.0, 3.0]      1
dtype: int64

set_option  max_rows,max_columns,max_colwidth, precision

head
tail
info
dtypes
value_counts
memory_usage

In [1]:
!cd

E:\ML\实战\pandas实用教程

In [2]:
import numpy as np
import pandas as pd

In [7]:
pd.get_option('display.max_rows'),pd.get_option('display.max_columns'),pd.get_option('display.max_colwidth')

(60, 20, 50)

In [10]:
pd.get_option('display.colheader_justify')

'right'

In [ ]:
统计学
sample
rolling
min,max

In [ ]:
缺失值和异常值处理
1. 获取
布尔操作
& | ~ isnull(),notnull(), isin(), where
2. 修改

In [ ]:
去重