# 数值运算
pandas是以numpy这个数值代数库为基础的，所以其也支持矩阵操作，虽然它并以此为目的。

In [ ]:
!cd

In [3]:
import numpy as np
import pandas as pd

----
# 1. 逐元素四则运算
记住：
- 此类运算都是默认以label对齐的；
- 可以认为相加的两个操作数都是先扩展index和columns至相同后，再执行运算。

In [57]:
df1 = pd.DataFrame([[1,2],[3,4]], index =['a','b'],columns = ['A','B'])
df1

   A  B
a  1  2
b  3  4

In [58]:
df2 = pd.DataFrame([[3,4],[5,6]], index =['b','c'],columns = ['B','C'])
df2

   B  C
b  3  4
c  5  6

In [59]:
s1 = pd.Series([1,2], index =['A','B'], name = 'A')
s1

A    1
B    2
Name: A, dtype: int64

## 1.1 `+`

In [60]:
df1 + df2   # df1的'B','b'和df2的'B','b'对上了，其他位置都只少有一个缺失值

    A    B   C
a NaN  NaN NaN
b NaN  7.0 NaN
c NaN  NaN NaN

In [61]:
df1 + s1  # +号默认将Series的index与DataFrame的columns对齐，以DataFrame的index为index，纵向复制构造一个DataFrame。
# 也即s1被转化成了：
#   A	B
#a	1	2
#b	1	2

   A  B
a  2  4
b  4  6

## 1.2  ` add()`
add比+号功能更强，区别提体现在可以控制Series构造的方式。
#### `DataFrame.add(other, axis='columns', fill_value=None)`
- other：另一个DataFrame或Series
- axis：如果other是Series，指定Series的索引去和DataFrame的行匹配，还是和列匹配；
- fill_value：这个参数是指两个DataFrame只有一个值缺失的情况，缺失的值怎么处理。两者都缺失，那么就是NaN。

In [62]:
df1.add(s1, axis = 'columns')

   A  B
a  2  4
b  4  6

In [42]:
df1.add(s1, axis = 'index') 
# s1被转化为：以DataFrame的columns为columns，横向复制
#	A	B
#A	NaN	NaN
#B	NaN	NaN

    A   B
A NaN NaN
B NaN NaN
a NaN NaN
b NaN NaN

## 1.3 `-, ×, /, //,%, **`  
相应的函数形式：`sub(), mul(), div(),floordiv(), mod(), pow()`
#### 这几个操作和`+` 以及`add() `完全相同。

## 1.4 `divmod()`
divmod()是python内建函数，不是pandas API，其支持Series进行逐元素操作。

In [52]:
d,r = divmod(s1,2)
d

A    0
B    1
Name: A, dtype: int64

In [53]:
r

A    1
B    0
Name: A, dtype: int64

---
# 2. 矩阵运算

## 2.1 `dot()`
#### `DataFrame.dot(other)`
- other：DataFrame或Series

注意，pandas在做矩阵运算时，**要求：**矩阵的维度相同，左操作数的列索引和右操作数的行索引相同。

In [63]:
df1

   A  B
a  1  2
b  3  4

In [64]:
df2

   B  C
b  3  4
c  5  6

In [76]:
# df1.dot(df2)#报错
df2.index = ['A','B']  
df2

   B  C
A  3  4
B  5  6

In [77]:
df1.dot(df2)  # 左操作数的行索引和右操作数的列索引变为内积后元素的行、列索引

    B   C
a  13  16
b  29  36

In [78]:
s1

A    1
B    2
Name: A, dtype: int64

In [79]:
df1.dot(s1)

a     5
b    11
dtype: int64

# 3. `round()`
前面一章介绍了设置显示精度的操作，其不改变实际精度，而这个API则可以改变精度。

#### `Series.round(decimals=0)`
- decimals：控制小数位数

In [83]:
s= pd.Series([1.111,2.222])
s

0    1.111
1    2.222
dtype: float64

In [84]:
s.round(1)

0    1.1
1    2.2
dtype: float64

In [85]:
s.round(2)

0    1.11
1    2.22
dtype: float64